*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}

/* Navbar Start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 35px;
    margin-right: 10px;
    display: block;
}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}
.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}
.navbar-center ul li a i{
    font-size: 20px;
    margin-right: 5px;
}

.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: 0.3s ease;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after{
    width: 100%;
}
.nav-profile-img{
    width: 50px;
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}
.search-box{
    background: #f0f2f5;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 10px;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.search-box i{
    font-size: 14px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}
/* Navbar End */

.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Left Sidebar start*/
.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    border-radius: 10px;
}

.sidebar-profile-box{
    background: #fff;
    border-radius: 10px;
}

.sidebar-profile-info{
    padding: 0 25px;
}

.sidebar-profile-info img{
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;
}

.sidebar-profile-link{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #045be6;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.sidebar-profile-link h4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
}
.sidebar-profile-link i{
    margin-left: 10px;
}

.send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-right: 10px;
}

.send-button i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #045be6;
    cursor: pointer;
}

.sidebar-activity{
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}

.sidebar-activity h3{
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity i{
    font-size: 20px;
    margin-right: 10px;
}

.discover-more-link{
    text-align: center;
    margin-top: 15px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 15px;
}

.discover-more-link a{
    color: #045be6;
    display: inline-block;
    margin: 10px 0;

}

.bi-people-fill{
    color: rgb(138, 235, 233);
}
.chats{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.chats img{
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.chats a{
    display: inline-block;
}

.chats a h2{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.chats small{
    display: block;
    font-size: 14px;
    margin-bottom: -2px;
}

.bi-hash{
    color: rgb(1, 162, 255);
}
/* Left sidebar end */

/* Right sidebar start */
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    border-radius: 10px;
    border-radius: 10px;
}

.sidebar-news{
    background: #fff;
    padding: 10px 25px;
    border-radius: 10px;
}

.bi-fire{
    font-size: 16px;
    float: right;
    margin-top: 10px;
    color: rgb(255, 149, 0);
}
.sidebar-news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}

.sidebar-news a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}

.sidebar-news span{
    font-size: 12px;
}

.sidebar-news .read-more-link{
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-ad{
    background: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    border-radius: 10px;
}
.sidebar-ad img{
    width: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 50%;
    margin: 2px;
}

.sidebar-ad small{
    float: right;
    font-weight: 500;
}

.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar-ad b{
    display: block;
    font-weight: 10px;
    margin-top: 10px;
}
.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    font-weight: 500;
    margin: 20px auto 10px;
    transition: 0.5s ease;
}

.ad-link:hover{
    color: white;
    background: #045be6;
}

.sidebar-useful-links{
    padding: 15px 25px;
    text-align: center;
}

.sidebar-useful-links a{
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}
.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}
.copyright-msg img{
    width: 22px;
    margin-right: 4px;
}

/* Profile drop down */
.profile-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}


.notification-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 360px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.notification-menu-wrap h3{
    font-size: 18px;
}

.profile-menu-wrap.open-menu{
    max-height: 400px;
}

.notification-menu-wrap.open-menu1{
    max-height: 400px;
}

.profile-menu{
    background: #222;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3{
    font-weight: 500;
    margin-bottom: -7px;
}

.user-info a{
    color: #c9dbf8;
    font-size: 13px;
}

.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}

.profile-menu-link{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 12px 0;
    font-size: 14px;
}

.profile-menu-link p{
    width: 100%;
}

.profile-menu-link img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Right sidebar end */


/* Main content start */
.main-content{
    flex-basis: 47%;
}

.create-post{
    border-top: 1px solid grey;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}

.create-post-input{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.create-post-input img{
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 15px;
}

::placeholder{
    font-weight: 500;
}

.create-post-links{
    display: flex;
    align-items: flex-start;
}

.create-post-links li{
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.create-post-links li i{
    font-size: 20px;
    margin-right: 5px;
    color: #045be6;
}

.create-post-links li:last-child{
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
    border-radius: 0px 0px 10px 0px;
}

.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}

.sort-by p span{
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img{
    width: 12px;
    margin-left: 3px;
}

.post{
    background: #fff;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#active-chat i{
    font-size: 30px;
    position: relative;
    color: #045be6;
    margin-top: 5px;
    margin-left: 100px;
}

.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author i{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.post-author img{
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small{
    display: block;
    margin-bottom: -2px;
}

.post p{
    font-size: 14px;
    margin-bottom: 15px;
}

.chat-interface img{
    margin-left: 10px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.chat-interface h3{
    background-color: #e4e6eb;
    border-radius: 15px 15px 15px 0px;
    padding: 10px;
    margin-left: 10px;
}

.chat-interface{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-interface1 img{
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.chat-interface1 h3{
    background-color: #e4e6eb;
    border-radius: 15px 15px 0px 15px;
    padding: 10px;
    margin-right: 10px;
}
.cinterface{
    margin-top: 20px;
    flex-basis: 100%;
    margin-bottom: 20px;
    height: 400px;
}
.chat-interface1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.post-stats div{
    display: flex;
    align-items: center;
}

.post-stats img{
    width: 17px;
    margin-right: -5px;
}

.liked-users{
    margin-left: 10px;
}

.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div{
    display: flex;
    align-items: center;
}

.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}

.post-activity-link img{
    width: 18px;
    margin-right: 8px;
}

/* Main content end */

/* Profile Page start*/

.profile-main{
    flex-basis: 73%;
}

.profile-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.profile-container{
    background: #fff;
    border-radius: 10px;

}

.profile-container-inner{
    padding: 0 4% 10px;
}

.profile-pic{
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;
}

.profile-container h1{
    font-size: 28px;
    font-weight: 600;
    color:  #222;
}

.profile-container b{
    font-weight: 500;

}

.profile-container p{
    margin-top: 5px;
}

.profile-container p a{
    color: #045be6;
    font-weight: 500;
}

.mutual-connection{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mutual-connection img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-btn{
    margin: 20px 0;

}

.profile-btn a{
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.profile-btn a img{
    width: 18px;
    margin-right: 5px;
}

.profile-btn .primary-btn{
    background: #045be6;
    color: #fff;
}

.profile-description{
    background: #fff;
    border-radius: 10px;
    padding: 20px 4% 30px;
    margin: 12px 0;
}

.profile-description h2{
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
}

.see-more-link{
    display: block;
    text-align: right;
    font-size: 15px;
}

.profile-desc-row{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.profile-desc-row img{
    width: 40px;
    margin-right: 25px;
    margin-top: 5px;
}

.profile-desc-row div{
    width: 100%;
}

.profile-desc-row h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.profile-desc-row b{
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.profile-desc-row p{
    margin-top: 15px;
}

.profile-desc-row hr{
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;

}

.experience-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}

.experience-link img{
    width: 20px;
    margin-left: 8px;
}

.skills-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}
.skills-btn:hover{
    color:white ;
    background: #777;
}
.language-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    background: #e4e6eb;
    font-size: 12px;
    font-weight: 500;
    border-radius: 210px;
}

/* profile Right sidebar start*/
.profile-sidebar .sidebar-ad{
    margin: 0;
}

.sidebar-people{
    background: #fff;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px;
}

.sidebar-people h3{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.sidebar-people-row{
    display: flex;
    align-items: flex-start;
    margin: 6px 0;
}

.sidebar-people-row img{
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 5px;
}

.sidebar-people-row h2{
    font-weight: 500;
    font-size: 16px;
}

.sidebar-people-row a{
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #5f5f5f;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}

.sidebar-people-row a:hover{
    color: white;
    background: #5f5f5f;
}

.profile-footer{
    padding: 0 6% 30px;
}

.profile-footer .sidebar-useful-links{
    text-align: center;
    padding: 0;
}

.profile-footer .copyright-msg{
    justify-content: center;
}

/* profile Right sidebar end */

#showMoreLink{
    display: none;
}
/* Profile page end */

/* Media Queries start */

@media only screen and (max-width: 600px){
    .search-box{
        background: transparent;
        width: auto;
        padding: 0;
    }
    .search-box input{
        width: 0;
        padding: 0;   
    }
    .navbar-center ul li a span{
        display: none;
    }
    .navbar-center ul li a{
        padding-right: 0;
        margin: 5px;
    }
    .nav-profile-img{
        width: 30px;
    }
    .container{
        padding: 15px 3%;
    }
    .left-sidebar, .right-sidebar{
        flex-basis: 100%;
        position:  relative;
        top: unset;
    }

    .main-content{
        flex-basis: 100%;
    }

    .post-stats div{
        margin: 2px 0;
    }

    .post-activity-link span{
        display: none;
    }

    .post-activity-link img{
        margin-right: 0;
    }

    .profile-main, .profile-sidebar{
        flex-basis:  100%;
    }

    .profile-container{
        font-size: 14px;
    }

    .profile-pic{
        width: 100px;
        margin-top: -50px;
    }

    .profile-description{
        font-size: 14px;
    }

    #showMoreLink{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 14px;
        cursor: pointer;
    }

    .sidebar-activity{
        display: none;
    }

    .sidebar-activity.open-activity{
        display: block;
    }
}

::-webkit-scrollbar{
    display: none;
}